<h1>Worker trainings: </h1>
<div class="row">
    <div class="col-sm-3" ng-repeat="training in trainings">
        <div class="card text-white bg-success" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Trainer : {{training.trainerID.login}}</h5>
                <label>Date of training : </label>
                <p class="card-text">{{dateFormat(training.date)}}</p>
                <label>End of registration : </label>
                <p class="card-text">{{dateFormat(training.dateOfEnd)}}</p>
                <label>Type : </label>
                <p class="card-text">{{training.type}}</p>
            </div>
        </div>
    </div>
</div>