/* app css stylesheet */
.form-for-data {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-application {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
}

.form-for-data .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.small-form-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.error-message {
    color: #ff0000bf;
    font-size: 1.5rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px
}

.good-message {
    color: #509008;
    font-size: 1.5rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px
}