<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Itransition</h5>

    <nav ng-if = "token == null">
        <a class="btn btn-outline-primary" href="#!/login">Sign in</a>
        <a class="btn btn-outline-primary ml-1" href="#!/register">Sign up</a>
    </nav>

    <div ng-if = "token != null">
        <nav ng-if="role == 'PROVIDER'">
            <a class="btn btn-outline-primary ml-1" href="#!/office">Create office</a>
            <a class="btn btn-outline-primary ml-1" href="#!/trainings">Trainings</a>
            <a class="btn btn-outline-primary ml-1" href="#!/main">Main page</a>

            <button class="btn btn-outline-primary ml-1" ng-click="application()">Make application</button>
            <button class="btn btn-outline-primary ml-1" ng-click="myApplications()">My applications</button>

            <button class="btn btn-outline-primary" ng-click="logout()">Logout</button>
        </nav>
        <nav ng-if="role == 'CURRICULUM_REVIEWER'">
            <a class="btn btn-outline-primary ml-1" href='#!/application/reviewers/view'>Applications</a>
            <button class="btn btn-outline-primary" ng-click="logout()">Logout</button>
        </nav>
        <nav ng-if="role == 'REGULAR_REVIEWER'">
            <a class="btn btn-outline-primary ml-1" href="#!/application/reviewers/view">Applications</a>
            <button class="btn btn-outline-primary" ng-click="logout()">Logout</button>
        </nav>
        <nav ng-if="role == 'SUPERVISION'">
            <a class="btn btn-outline-primary ml-1" href="#!/application/reviewers/view">Applications</a>
            <button class="btn btn-outline-primary" ng-click="logout()">Logout</button>
        </nav>
        <nav ng-if="role == 'TRAINING_OPERATOR'">
            <a class="btn btn-outline-primary ml-1" href="#!/trainings">Trainings</a>
            <button class="btn btn-outline-primary ml-1" ng-click="addTraining()">Add training</button>
            <button class="btn btn-outline-primary" ng-click="logout()">Logout</button>
        </nav>
    </div>
</div>