<h1>Applications: </h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Name of office</th>
        <th scope="col">Office location</th>
        <th scope="col">History of application</th>
        <th scope="col">Statuses</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data">
        <div>
            <th scope="row">{{item.id}}</th>
            <td> {{item.officeName}}</td>
            <td> {{item.officeLocation}}</td>
            <td>
                <button class="btn btn-outline-info" ng-click="historyOfApplication(item.id)">History</button>
            </td>
            <td>
                <button ng-if="userRole != 'REGULAR_REVIEWER'" class="btn btn-outline-primary"
                        ng-click="curriculum(item.id)">Curriculum reviewer
                </button>
                <button ng-if="userRole != 'CURRICULUM_REVIEWER'" class="btn btn-outline-primary"
                        ng-click="regular(item.id)">Regular reviewer
                </button>
                <button ng-if="userRole == 'SUPERVISION'" class="btn btn-outline-primary"
                        ng-click="finalDecision(item.id)">Make the final decision
                </button>
            </td>
        </div>
    </tr>
    </tbody>
</table>

