<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Office</th>
        <th scope="col">Status of application</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data">
        <div>
            <td> {{item.id}}</td>
            <td> {{item.office.name}}</td>
            <td>
                <div ng-if ="item.status == 'REJECT'">
                    <label style = "color:#dc0c0c">{{item.status}}</label>
                </div>
                <div ng-if ="item.status == 'ACCEPT'">
                    <label style = "color:#20900d">{{item.status}}</label>
                </div>
                <div ng-if ="item.status == 'WAIT_FOR_AN_ANSWER'">
                    <label>{{item.status}}</label>
                </div>
            </td>
        </div>
    </tr>
    </tbody>

</table>
<button class="btn btn-info" ng-click="back()">Back</button>

