<div class = "d-flex justify-content-center">
    <div class="signin card" style="width: 40rem;" ng-form="trainingForm">
        <h1 class="text-center card-header">Training control</h1>
        <div class="form-signin ">
            <form>
                <label>Date of training : </label>
                <input type="datetime-local" ng-model="data.date" class="form-control" placeholder="Date" required><br>

                <label>End of registration : </label>
                <input type="datetime-local" ng-model="data.dateOfEnd" class="form-control" placeholder="Date" required><br>

                <label>Type of training : </label>
                <select class="custom-select" ng-model="data.type">
                    <option ng-repeat="item in typesOfTraining">{{item.value}}</option>
                </select><br><br>

                <label for="inputNumber" class="sr-only">Number of seats</label>
                <input type="number" ng-model="data.numberOfSeats" id="inputNumber" class="form-control" placeholder="Number of seats" required><br><br>

                <label ng-if="message!='' && message != 'ok!'"><p class = "sign_in_up-error">{{message}}</p></label><br>
                <label ng-if="message!='' && message == 'ok!'"><p class = "add_worker_ok">Training successfully edited!</p></label><br>

                <button class="btn btn-lg btn-block btn-info " ng-click = "editTraining(trainingForm)">Edit training</button>
                <button class="btn btn-lg btn-block btn-danger " ng-click = "deleteTraining()">Delete training</button>
                <button class="btn btn-lg btn-block btn-primary " ng-click = "workersControl()">Management of registered workers </button>

            </form>

            <p class="mt-5 mb-3 text-muted">&copy; iTransition 2020</p>

        </div>

    </div>
</div>